* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  width: 1512px;
  background: #000;
}
.wrapper_block {
  width: 1512px;
  height: 982px;
  background-image: url(/images/neom-Iy59i0M7oP4-unsplash\ 1\ \(1\).png);
  padding-top: 80px;
  background-repeat: no-repeat;
  position: relative;
}
.wrapper_navbar {
  margin-left: 91px;
  display: flex;
}
.navbar_link ul {
  display: flex;
  margin-left: 560px;
  margin-top: 7px;
  gap: 55px;
}
.navbar_link ul li a {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  position: relative;
  display: inline-block;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #2bb673,
    #30dd8a,
    #40e495 25%,
    #25aae1 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 300ms ease-in-out;
  text-decoration: none;
  &:hover {
    background-position: 0 100%;
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper_header_h1 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 98px;
  font-weight: 700;
  line-height: 116.5%;
  letter-spacing: 0%;
  margin-top: 69px;
  width: 652px;
  margin-left: 430px;
  text-align: center;
}
.wrapper_header_p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 116.5%;
  letter-spacing: 0%;
  text-align: center;
  width: 576px;
  margin-top: 4px;
  margin-left: 468px;
}
.wrapper_block1 {
  width: 1512px;
  height: 1491px;
  padding-top: 36px;
  background: rgb(0, 0, 0);
  padding-right: 50px;
}
.Best {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 116.5%;
  letter-spacing: 0%;
  text-align: center;
}
.Explore {
  margin-top: 2px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: center;
 width: 566px;
 margin-left: 473px;
}
.wrapper_block1_box{
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
    margin-left: 54px;
}
.wrapper_block1_box div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.See{
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 124.5%;
letter-spacing: 0%;
margin-left: 1365px;
text-decoration-line: underline;
}
.wrapper_block2{
  width: 1512px;
  height: 760px;
  background: #000;
}
.Travel{
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 45px;
font-weight: 600;
line-height: 124.5%;
letter-spacing: 0.5%;
margin-left: 74px;
}
.wrapper_block2_box{
  display: flex;
  margin-left: 74px;
  gap: 51px;
  margin-top: 57px;
  overflow-x: hidden;
  position: relative;
}
.wrapper_block2_box div img{
  position: relative;
}
.box{
  position: absolute;
  margin-top: -150px;
  margin-left: 23px;
  border-radius: 21px;
box-shadow: inset -5px -5px 250px 0px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(12.8px);
background: radial-gradient(135.06% 141.42% at 0% 0%,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0) 100%);
width: 681.87px;
height: 115.79px;
}
.box{
  display: flex;
  gap: 307.56px;
}
.About{
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 36px;
font-weight: 500;
line-height: 124.5%;
letter-spacing: 0.5%;
text-align: left;
margin-left: 37.28px;
margin-top: 35.92px;
}
.img12{
  margin-top: 23.18px;
}
.See1{
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 124.5%;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-left: 1380px;
}
.wrapper_block3{
  width: 1512px;
  height: 1053px;
background: #000;
padding-top: 120px;
}
.block3_box{
  border-radius: 127px;
box-shadow: 2px -4px 2.3px 0px rgb(4, 127, 1),0px 4px 4px 0px rgb(4, 127, 1);
background: linear-gradient(180.00deg, rgb(4, 127, 1) -19.922%,rgb(255, 255, 255) -4.324%,rgb(4, 126, 1) 7.781%,rgb(4, 127, 1) 92.62%,rgb(255, 255, 255) 108.203%);
width: 1393px;
height: 247px;
margin-left: 74px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 542px;
}
.Contact{
  font-family: Poppins;
font-size: 36px;
font-weight: 600;
line-height: 38.16px;
letter-spacing: -0.01em;
text-align: left;
color: #FFFFFF;
margin-left: 94px;
margin-top: 109px;
}
.block3_button{
  width: 231px;
  height: 76px;
  border-radius: 19px;
  border: none;
  margin-top: 90px;
  padding: 25px 56px 26px 55px;
}
.block3_button a{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 25.44px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #047E01;  
}
.img13{
  margin-top: 140px;
  margin-left: 123px;
  position: relative;
}
.box1{
  display: flex;
  position: absolute;
  gap: 522px;
  margin-left: 176px;
  margin-top: -270px;
}
.box1 h1{
  width: 510px;
height: 128px;
font-family: Poppins;
font-size: 60px;
font-weight: 600;
line-height: 63.6px;
letter-spacing: -0.01em;
text-align: left;
color: #FFFFFF;
}
.wrapper_footer {
  background: rgb(34, 34, 34);
  width: 1512px;
  height: 352px;
  padding-left: 82px;
  padding-top: 80px;
  display: flex;
  gap: 468px;
}
.wrapper_footer div:nth-child(1) img {
  margin-top: 16px;
}
.About {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1%;
}
.wrapper_footer div:nth-child(2) div ul li a {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1%;
}
.wrapper_footer div:nth-child(2){
    display: flex;
    gap: 38px;
}
.wrapper_footer div:nth-child(2) div ul li:nth-child(1) a:hover{
  color: #25aae1;
}
.wrapper_footer div:nth-child(2) div ul li{
    position: relative;
    display: block;
    padding: 0px -20px;
}
.wrapper_footer div:nth-child(2) div ul li a{
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #25aae1;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #25aae1;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    &:hover {
    &:before,
        &:after {
            transform: scaleX(1);
        }
    }
}
